<h3>Post Form</h3>

<%= form_for (@post) do |f| %>
<!--#f is an iterator for the new form object to dynamically assign form field elements + autofills values-->

  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>
  
  <%= f.submit %>
<% end %>

<!--We no longer have to pass in the values manually.  By passing in the attribute as a symbol :title, it tells the form what model attribute to be associated with + autofills the values for us -->